.info {
  display: flex;
  flex-direction: column;
  margin: 50px 0;

  &__titles {
    position: relative;
    margin-bottom: 40px;
    &-title {
      width: 50%;
    }
  }
  &__container {
    padding-top: 50px;
    &-text {
      margin-bottom: 20px;

      p {
        &:first-child {
        font-size: 16px;
        line-height: 26px;
        font-family: $montserrat-bold;
      }
    }
    }
    &-link {
      // display: flex;
      display: none;
      align-items: center;
      width: 100%;
      font-size: 18px;
      line-height: 44px;
      letter-spacing: 1.8px;
      font-family: $raleway;
      color: $blue;
    }
    &-link-arrow {
      position: relative;
      margin-left: 15px;
      width: 35px;
      height: 1px;
      background-color: $blue;
      transition: 0.5s;

      &::after {
        content: '';
        position: absolute;
        top: -5px;
        right: 1px;
        display: inline-block;
        padding: 5px;
        border: solid $blue;
        border-width: 0 1px 1px 0;
        transform: rotate(-45deg);
      }
    }
  }
}

@include tablet {
  .info {
    margin: 80px 0;

    &__titles {
      margin-bottom: 60px;
    }
    &__container {
      padding-top: 70px;
      &-link {
        font-size: 22px;
      }
    }
  }
}

@include desktop() {
  .info {
    flex-direction: row;

    &__titles {
      width: 40%;
      &-title {
        font-size: 44px;
        line-height: 44px;
        letter-spacing: 4.4px;
      }
    }
    &__container {
      width: 60%;
      padding-top: 0px;
      &-text {
        margin-bottom: 50px;
      }

      &-link {
        line-height: 44px;
        letter-spacing: 2px; 
      }
    }
  }
}


@include desktop-lg() {
  .info {
    margin: 0 auto;
    padding: 80px 0; 
  }
}