.press {
  &__wrapper {
    padding: 20px 5%;
  }
  &__section {
    width: 100%;
    display: flex;
    flex-flow: column;
    margin: 30px auto;
    box-shadow: 10px 20px 60px rgba(0, 0, 0, 0.3);
  }
  &__top {
    display: flex;
    flex-flow: column;
    position: relative;
  }
  &__image {

  }

  &__top {
    position: relative;
  }
  &__bottom {
    position: relative;
    display: none;
  }
  &__arrow-wrapp {
    display: flex;
    justify-content: flex-end;
  }
  &__arrow {
    position: relative;
    width: 40px;
    height: 40px;
    background: $blue;
    display: flex;
    align-items: center;
    justify-content: center;
    float: right;
    &:after {
      content: '';
      border: solid $white;
      border-width: 0 2px 2px 0;
      padding: 8px;
      transform: rotate(45deg);
      transition: 0.5s;
    }
  }
  &__top-arrow  {
    &--open {
      &:after {
        transform: rotate(-135deg);
      }
    }
  }
  &__bottom-arrow {
    &:after {
      content: '';
      transform: rotate(-135deg);
      top: 0px;
      left: -8px;
    } 
  }
}