.about-project {
  padding-bottom: 70px;

  &__description  {
    display: flex;
    flex-direction: column;
  }
  &__box {
    margin-bottom: 40px;

    &:last-child {
      margin-bottom: 0;
    }

    &:first-child {
      p {
        font-size: 16px;
        line-height: 26px;
        font-family: $montserrat-bold;
      }
    }
  }
}

@include desktop() {
  .about-project {
    &__description {
      flex-direction: row;
    }
    &__box {
      h2 {
        margin-bottom: 60px;
      }
      &:first-child {
        margin-right: 25px;
        margin-bottom: 0;
        font-size: 18px;
        line-height: 28px;
      }
      &:last-child {
        columns: 2 300px;
        column-gap: 25px;
      }
    }
  }
}
