.team {
  position: relative;
  margin-bottom: 105px;
  &__wrapper {
    width: 90%;
    margin: 0 auto;
  }
  &__titles {
    margin-bottom: 90px;
  }
  &__peoples-slider {
    display: flex;
    overflow-x: hidden;
  }
  &__member {
    position: relative;
    display: flex;
    flex-flow: column;
    align-items: center;
    // min-width: 100%;
    width: 100%;
    height: 570px;
    transition: 0.5s;
    overflow: hidden;
  }
  &__member-wrapp {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.5s;

  }
  &__member-image {
    position: relative;
    width: 80%;
    height: 350px;
    margin-bottom: 80px;
    background-position: center;
    background-size: cover;
    box-shadow: 10px 30px 30px -6px rgba(69, 90, 100, 0.25);
  }
  &__member-name {
    position: relative;
    width: 230px;
    font-size: 24px;
    line-height: 34px;
    letter-spacing: 3.2px;
    font-family: $raleway-black;
    text-transform: uppercase;
    color: $black;
    text-align: center;

    &::before {
      content: '';
      position: absolute;
      left: 50%;
      top: -30px;
      width: 35px;
      height: 5px;
      background: $black;
      transform: translate(-50%);
    }
  }
  &__member-position {
    width: 230px;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 3.2px;
    color: $gray;
    font-family: $montserrat;
    text-transform: lowercase;
    text-align: center;
  }
  &__member-description {
    position: relative;
    width: 80%;
    // max-width: 250px;
    margin-top: 40px;
    padding: 0 30px;
    font-size: 14px;
    line-height: 24px;
    font-family: $montserrat;
    color: $black-2;
    text-align: center;

    &::after {
      content: '';
      position: absolute;
      left: 50%;
      bottom: -30px;
      width: 35px;
      height: 5px;
      background: $black;
      transform: translate(-50%);
    }
  }
  &__slide {
    position: absolute;
    top: 50%;
    width: 0;
    height: 0;
    // background-attachment: fixed;
    // border: solid black;
    // border-width: 0 3px 3px 0;
    // display: inline-block;
    // padding: 3px;

  }
  &__prev {
    left: 13px;
    border-top: 13px solid transparent;
    border-bottom: 13px solid transparent;
    border-right: 13px solid $gray-white;
    // transform: rotate(135deg);
  }
  &__next {
    right: 13px;
    border-top: 13px solid transparent;
    border-bottom: 13px solid transparent;
    border-left: 13px solid #c4c4c4;
    // transform: rotate(-45deg);
  }

  &__cast-wrapp {
    height: 0;
    position: relative;
    overflow: hidden;
    padding: 0 5%;
    background-color: rgba(228, 228, 228, 0.4);
    transition: .5s;
  }
  &__cast-link {
    padding: 0 5% 100px;
    font-size: 16px;
    line-height: 16px;
    font-family: $raleway;
    color: $blue;
    cursor: pointer;
  }

  &__full-cast {
    display: flex;
    position: absolute;
    top: 0;
    right: 5%;
    left: 5%;
    bottom: 0;
    flex-flow: column;
    font-size: 14px;
    line-height: 24px;
    font-family: $montserrat;
    transition: all .5s;

    &-inner {
      padding: 80px 0;
    }
    h3 {
      font-size: 20px;
      line-height: 24px;
      letter-spacing: 3.2px;
      color: $black;
      text-align: center;
      font-family: $raleway-black;
    }
    p:first-child {
      font-size: 14px;
      font-family: $montserrat;
    }
    b, strong {
      font-family: $montserrat-bold;
    }
  }
}
.move-top {
  top: -410px;
}

@include desktop() {
  .team {
    &__wrapper {
      max-width: 1200px;
      margin: 0 auto;
    }
    &__peoples-slider {
      flex-wrap: wrap;
      overflow-x: unset;
    }
    &__member {
      width: 350px;
      margin-bottom: 40px;
    }
    &__member-image {
      width: 100%;
      max-width: 250px;
    }
    &__slide {
      display: none;
    }
  }
}