.testimonials-section {
  border: 1px solid red;
  &__wrapper {
    position: relative;
  }
  &__slider {
    display: flex;
    flex-flow: row;

  }
  &__item {
    min-width: 100%;
    position: relative;
    display: flex;
    flex-flow: column;
    transition: 0.5s;

  }
  &__slide {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: red;
    position: absolute;
    top: 50%;
  }
  &__prev {
    left: 20px;
  }
  &__next {
    right: 20px;
  }

}