/*************************************
* Brand & other color variables here *
*************************************/

// Brand colors
$white: #fff;
$dark-black: #000;
$black: #061a21;
$black-2: #111422;
$light-grey: #f9f9f9;
$black-text: #2C2C2C;
$grey-text: #6a6a6a;
$light-gray: #e9e9e6;
$gray: #515251;
$blue: #2c6888;
$grey: #515251;
$grey-blue: #536269;
$gray-white: #c4c4c4;
// Cookie popup colors

