/*************************************
* Brand & other color variables here *
*************************************/

// Brand colors
$white: #fff;
$black: #061a21;
$gold: #c4a44c;
$dark-blue: #2c6888;
$dark-blue-text: #002e52;
$dark-blue-menu-item: #303052;
$light-grey: #f9f9f9;
$red: #e8114b;
<<<<<<< HEAD
$grey: #909090;
$grey-text: #444444;
// $light-grey: #e9e9e6;
=======
$grey: #E5E5E5;
$grey-text: #2C2C2C;
$light-grey: #e9e9e6;
>>>>>>> ba1885b1034d5adc28a928c130b1a0b2e50c863b
$grey-blue: #536269;
$beige: #f3ede2;
$text-black: #2a2e2e;
// Cookie popup colors
$popup-dark-grey: #545454;
$popup-grey: #bbbbbb;
<<<<<<< HEAD
$popup-light-gray: #d6d6d6;

$light-gray: #f9f9f9;
$gray: #515251;
$blue: #2c6888;
=======
$popup-light-gray: #d6d6d6;
>>>>>>> ba1885b1034d5adc28a928c130b1a0b2e50c863b
