/*************************************
* Body, html and other global styles *
*************************************/

// Default typography styles for the site
html {
	scroll-behavior: smooth;
	overflow-x: hidden;
}
body {
	background-color: $light-grey;
	overflow: hidden;
}
// Plugin styles
// .disqus-footer__wrapper {
// 	display: none !important;
// }
#tagSolutions {
	&:nth-child(2) {
		display: block;
	}
}
.pagination {
	font-family: $Segoeui;
	.left {
		margin-bottom: 8px;
	}
}
.removeHash {
	&:before {
		display: none !important;
	}
}
.removeHashFromTitle {
	p {
		display: none !important;
	}
}
.tagsChoice {
	display: none;
	padding-left: 10px;
	padding-right: 20px;
	width: fit-content;
	&:nth-child(-n + 4) {
		display: block;
	}
	&:hover {
		color: $white;
	}
}
h1,
h2,
h3,
h4,
h5 {
	line-height: 1.2;
	font-family: $raleway-black;
}
h1 {
	position: relative;
	font-size: 24px;
	line-height: 28px;
	letter-spacing: 2px;
	text-transform: uppercase;
	width: 80%;

	&::after {
		content: '';
		left: 0;
		bottom: -25px;
		position: absolute;
		width: 85px;
		height: 15px;
		background: $blue;
	}

}
h2 {
	position: relative;
	margin-bottom: 24px;
	font-size: 28px;
	font-family: $raleway-bold;

	&:after {
		content: '';
		left: 0;
		bottom: -10px;
		position: absolute;
		width: 35px;
		height: 5px;
		background: $blue;
	}
}
h3 {
	margin-bottom: 20px;
	font-size: 30px;
	line-height: 40px;
	letter-spacing: 2px;
	font-family: $raleway;
	color: $grey;
}
h4 {
	margin-bottom: 20px;
	font-size: 18px;
	line-height: 22px;
	letter-spacing: 2px;
	font-family: $raleway;
	color: $grey;
}
p {
	margin-bottom: 20px;
	font-size: 14px;
	line-height: 24px;
	font-family: $montserrat;

	&:last-child {
		margin-bottom: 0;
	}
}
input {
	outline: none;
}
a {
	color: inherit;
}
em {
	font-style: italic;
}
// .js-alert-text {
// 	position: absolute;
// 	opacity: 0;
// 	transition: 0.3s;
// 	width: 50%;
// 	bottom: 10vh;
// 	color: $white;
// 	font-family: $Segoeui;
// 	text-align: center;
// 	font-size: 8px;
// 	line-height: 18px;
// 	letter-spacing: 0.4px;
// 	z-index: 1111;
// 	a {
// 		color: red;
// 	}
// }

.qr_map-wrapper {
	width: 100%;
}
.wrapper {
	padding: 0 5%;
}
// .post-password-form {
// 	margin: 20% 5%;
// 	display: flex;
// 	flex-flow: column;
// 	align-items: center;
// 	justify-content: center;
// 	p {
// 		margin-bottom: 20px;
// 		font-family: $Segoeui;
// 		text-align: center;
// 	}
// 	input {
// 		outline: none;
// 		border: 1px solid;
// 	}
// }
.content {
	font-size: 16px;
	line-height: 1.4;
	text-align: left;

	h1 {

	}

	h2 {
	}

	h3 {
	}

	h4 {
	}

	h5 {
	}
} // .content

// Prevent scroll
.no-scroll {
	overflow: hidden;
	height: 100vh;
}
.site-content {
	transition: 1.4s;
	min-height: 100vh;
	height: 100%;

}
@keyframes showContetn {
	0% { opacity: 0.8; }
	30% { opacity: 0.1; }
	50% { opacity: 0; }
	100% {opacity: 1; }
}

// image to background helper class
img[class$='-imgtobg'] {
	display: none;
}

// class for animation purposes
// hides element so animation can start smoothly
.animated {
	visibility: hidden;
}
.newsletter-email {
	&::placeholder {
		color: $white;
	}
}
// .thankyou-page {
// 	margin: 20% 5%;
// 	font-family: $Segoeui;
// 	h1 {
// 		font-size: 18px;
// 		margin-bottom: 10px;
// 	}
// }
// .sec-title {
// 	font-size: 22px;
// 	position: relative;
// 	margin-bottom: 25px;
// 	font-family: $Exo2;
// 	color: $black-text;
// 	&:before {
// 		content: '';
// 		position: absolute;
// 		display: block;
// 		width: 65px;
// 		height: 4px;
// 		bottom: -21px;
// 		background-color: red;
// 	}
// }
a.disabled {
	// pointer-events: none;
}
/****************
* Media queries *
****************/

@include tablet() {
	.wrapper {
		padding: 0 7%;
	}
	h1 {
		font-size: 32px;
		letter-spacing: 2px;
	}
	h2 {
		font-size: 30px;
	}
	p {
		font-size: 16px;
		line-height: 32px;
	}
}

@include desktop() {
	.wrapper {
		padding: 0 7%;
	}
	h1 {
		font-size: 44px;
		line-height: 52px;
		// letter-spacing: 2px;

		&::after {
			bottom: -40px;
		}
	}
	.global-wrapper {
		width: 100%;
		max-width: 1170px;
		margin: 0 auto;
		padding: 0;
	}
	h1 {

		&::after {
			width: 180px;
			height: 20px;
		}
	}
	h2 {
		font-size: 36px;
		// line-height: 28px;

		&:after {
			bottom: -40px;
			width: 78px;
			height: 10px;
		}
	}
	p {
		// letter-spacing: 0.8px;
	}
	.js-alert-text {
		font-size: 20px;
		line-height: 24px;
		letter-spacing: 0.5px;
	}
}
@include desktop-lg() {
	.wrapper {
		max-width: 1440px;
		margin: 0 auto;
		padding: 0;
	}
}
@include desktop-xlg() {
	h2 {
		font-size: 58px;
		line-height: 56px;
	}
	p {
		font-size: 19px;
	}
}
