/*************************************
* Body, html and other global styles *
*************************************/

// Default typography styles for the site
html {
	scroll-behavior: smooth;
	overflow-x: hidden;
}
body {
	background-color: $light-grey;
	overflow: hidden;
}
h1,
h2,
h3,
h4,
h5 {
	line-height: 1.2;
	font-family: $raleway-black;
}
h1 {
	position: relative;
	font-size: 24px;
	line-height: 28px;
	letter-spacing: 2px;
	text-transform: uppercase;
	width: 80%;

	&::after {
		content: '';
		left: 0;
		bottom: -25px;
		position: absolute;
		width: 85px;
		height: 15px;
		background: $blue;
	}

}
h2 {
	position: relative;
	margin-bottom: 24px;
	font-size: 28px;
	font-family: $raleway-bold;

	&:after {
		content: '';
		left: 0;
		bottom: -10px;
		position: absolute;
		width: 35px;
		height: 5px;
		background: $blue;
	}
}
h3 {
	margin-bottom: 20px;
	font-size: 30px;
	line-height: 40px;
	letter-spacing: 2px;
	font-family: $raleway;
	color: $grey;
}
h4 {
	margin-bottom: 20px;
	font-size: 18px;
	line-height: 22px;
	letter-spacing: 2px;
	font-family: $raleway;
	color: $grey;
}
p {
	margin-bottom: 20px;
	font-size: 14px;
	line-height: 24px;
	font-family: $montserrat;

	&:last-child {
		margin-bottom: 0;
	}
}
input {
	outline: none;
}
a {
	color: inherit;
}
em {
	font-style: italic;
}

.wrapper {
	padding: 0 5%;
}
.content {
	font-size: 16px;
	line-height: 1.4;
	text-align: left;

	h1 {

	}

	h2 {
	}

	h3 {
	}

	h4 {
	}

	h5 {
	}
} // .content

// Prevent scroll
.no-scroll {
	overflow: hidden;
	height: 100vh;
}
.site-content {
	transition: 1.4s;
	min-height: 100vh;
	height: 100%;

}
// image to background helper class
img[class$='-imgtobg'] {
	display: none;
}

/****************
* Media queries *
****************/

@include tablet() {
	.wrapper {
		padding: 0 7%;
	}
	h1 {
		font-size: 32px;
		letter-spacing: 2px;
	}
	h2 {
		font-size: 30px;
	}
	p {
		font-size: 16px;
		line-height: 32px;
	}
}

@include desktop() {
	.wrapper {
		// max-width: 1200px;
		// margin: 0 auto;
		padding: 0 7%;
	}
	h1 {
		font-size: 44px;
		line-height: 52px;

		&::after {
			width: 180px;
			height: 20px;
			bottom: -40px;
		}
	}
	h2 {
		font-size: 36px;

		&:after {
			bottom: -40px;
			width: 78px;
			height: 10px;
		}
	}
	h4 {
		font-size: 30px;
		line-height: 44px;
		letter-spacing: 3px;
	}
}
@include desktop-lg() {
	.wrapper {
		max-width: 1440px;
		margin: 0 auto;
		padding: 0;
	}
}
